<% if user_signed_in? %>
  <div class="container">
    <div class="bottom">
      <h4>みんなの回答一覧</h4>
    </div>
    <div class="row">
    <% @theme.answers.each do |answer| %>
      <section>
        <h3>お題：<%= @theme.theme %></h3>
          <div class="sketch">
            <div class="answer"><%= answer.answer %></div>
          </div>
          <div class="bottom">
            <% if answer.user == current_user %>
              あなたの回答
            <% elsif answer.liked_by?(current_user) %>
              <%= link_to user_theme_answer_likes_path(@theme, answer), method: :delete do %>
                ★
              <% end %>
            <% else %>
              <%= link_to user_theme_answer_likes_path(@theme, answer), method: :post do %>
                ☆
              <% end %>
            <% end %>
          </div>
      </section>
    <% end %>
    </div>
  </div>

<% else %>
  <div class="container">
    <div class="bottom">
      <h4>みんなの回答一覧</h4>
    </div>
    <div class="row">
    <% @theme.answers.each do |answer| %>
      <section>
        <h3>お題：<%= @theme.theme %></h3>
          <div class="sketch">
            <div class="answer"><%= answer.answer %></div>
          </div>
          <div class="bottom"></div>
      </section>
    <% end %>
    </div>
  </div>

<% end %>